.mainnn {
  /* background: #ffa11f; */
  /* height: 100vh; */
}

.mainnn {
  display: flex;
  margin-top: 100px;
  flex-wrap: wrap;
  justify-content: space-evenly;
  overflow: hidden;
  /* background: #000; */
}
.shop {
  color: pink;
}
.leftt {
  font-family: "Gideon Roman", serif;
  font-weight: 400;
  font-style: normal;
}
.img2 img {
  width: 700px;
  height: 500px;
  /* margin-top: 1vw; */
}
.heading {
  font-size: 120px;
  margin-top: 90px;
  text-wrap: nowrap;
  font-family: "Gideon Roman", serif;
  font-weight: 400;
  font-style: normal;
}
.para {
  text-wrap: nowrap;
  font-family: "Gideon Roman", serif;
  font-weight: 400;
  font-style: normal;

  font-size: 100px;
}
@media screen and (max-width: 1300px) {
  .img2 img {
    height: 400px;
    width: 400px;
  }
  .heading {
    font-size: 90px;
  }
  .para {
    font-size: 70px;
  }
  .mainnn {
    /* justify-content: flex-start; */
  }
}

@media screen and (max-width: 1032px) {
  .img2 img {
    width: 400px;
    height: 400px;
  }
  .mainnn {
    /* justify-content: flex-start; */
  }
  .heading {
    font-size: 90px;
  }

  .para {
    font-size: 70px;
  }
}
@media screen and (max-width: 777px) {
  .mainnn {
    position: relative;
    top: -120px;
  }
  .img2 img {
    width: 250px;
    height: 300px;
    /* margin-left: 30vw; */
  }
  .heading {
    font-size: 70px;
    /* margin-left: 30vw; */
  }
  .para {
    font-size: 50px;
    /* margin-left: 30vw; */
  }
}
@media screen and (max-width: 624px) {
  /* .mainnn{
    justify-content: center;
    align-items: center;
 } */
  .img2 img {
    width: 250px;
    height: 300px;
    /* margin-left: 30vw; */
  }
  .heading {
    font-size: 70px;
    /* margin-left: 30vw; */
  }
  .leftt {
    margin-top: 0;
    /* position: relative;
    top: -100px;
} */
  }
  .para {
    font-size: 50px;
    /* margin-left: 30vw; */
  }
}

@media screen and (max-width: 526px) {
  .leftt {
    margin-top: 0;
    /* position: relative;
        top: -100px;
    } */
    /* margin-left: 30vw; */
    /* font-size: ; */
  }
  .img2 img {
    width: 200px;
    height: 300px;

    /* margin-left: 40vw; */
  }
  .heading {
    font-size: 70px;
  }
  .para {
    font-size: 50px;
  }
}
@media screen and (max-width: 472px) {
  .img2 img {
    width: 200px;
    height: 250px;
    /* margin-left: 80vw; */
  }
  .heading {
    font-size: 40px;
  }
  .para {
    font-size: 25px;
  }
}

@media screen and (max-width: 400px) {
  .img2 img {
    width: 200px;
    height: 250px;
    /* margin-left: 80vw; */
  }
  .heading {
    font-size: 50px;
  }
  .para {
    font-size: 30px;
  }
}
@media screen and (max-width: 310px) {
  .leftt {
    /* margin-top: 0; */
    /* position: relative;
        top: -100px;
    } */
    /* margin-left: 80vw; */
  }
  .img2 img {
    /* width: 400px;
        height: 400px; */
    /* margin-left: 100vw; */
  }
}
